#tetris{
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
    border: solid 1px black;
    position: absolute;
    top:13%;
    left: 43%;
}
#content-piezaActual{
    position: absolute;
    right: 27%;
    top:13%;
    background-color: #000;
    color:#fff;
}
#content-piezaSig{
    position: absolute;
    right: 26%;
    top: 35%;
    background-color: #000;
    color:#fff;
}
#content-puntuacion{
    position: absolute;
    left: 27%;
    top: 13%;
    color: #fff;
}
#content-level{
    position: absolute;
    left: 27%;
    top: 28%;
    color: #fff;
}

#all{
    background-color: black;
}
.td{
    border:none;
    
}